*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.redes-container{
    display: flex;
    align-items: center;
    height: 10vh;
    justify-content: center;
    padding: 15px 50px;
    
    

}

.redes-container ul li{
    display: inline-block;
    margin: 10px 10px;
    width: 140px;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    align-items: center;
    padding: 0px 10px;
    
    
}

.redes-container ul li a{
    display: block;
    padding: 20 30px;
    color: rgb(0, 0, 0);
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(100, 98, 98, 0.816);
    transition: .2s;
}

 .redes-container ul:hover a{
filter: blur(0.5px);
 }

 .redes-container ul li a:hover{
 transform: translateY(-3px)scale(1.05);
 box-shadow: 0 5px 5px 0px rgba(255, 251, 25, 0.782);
 filter: none;  
 }

 .redes-container ul li.instagram:hover{
    background: var(--instagram);
 }
 .redes-container ul li.facebook:hover{
    background: var(--facebook);
 }
 .redes-container ul li.whatsapp:hover{
    background: var(--whatsapp);
 }
 .redes-container ul li.twitter:hover{
    background: var(--twitter);
 }





.responsive-banner {
	margin: 80px auto;
	width: 40%;
	min-width: 130px;
	max-width: 130px;
	position: relative;
	height: auto;
	min-height: 100px;
	max-height: 100px;
	border-radius: 10px;
	overflow: hidden;
	background-image: linear-gradient(to bottom right, #D45BA1, #A784E0);
}

/*ImagenMatriculas*/
.Matriculas  {

    border: 20px;
}
